<!--The content below is only a placeholder and can be replaced.-->

<div *ngIf="!isAuth">  <!--menu qui s'affiche si non log in    condition à determiner-->

  <mat-toolbar color="primary">  <!--using Angular Material : paquet supplementaire-->
    <span>
      <img src="https://ngdocsdev.firebaseapp.com/resources/images/logos/angular2/angular.svg" height="100px" 
       width="100px" class="angular-logo">
      Angular NavBar + Login Example #01
    </span>
    <span class="fill-remaining-space"></span>
    <button mat-button>Accueil</button>
    <button mat-button>Les abonnements</button>
    <button mat-button (click)="connectrecord()">logIn</button>
  </mat-toolbar>
</div>

<div *ngIf="isAuth">      <!--menu qui s'affiche si on s'est pas loggé   condition à determiner-->
  <mat-toolbar color="primary">  <!--using Angular Material : paquet supplementaire-->
    <span>
      <img src="https://ngdocsdev.firebaseapp.com/resources/images/logos/angular2/angular.svg" height="100px" 
       width="100px" class="angular-logo">
      Angular NavBar + Login Example #01
    </span>
    <span class="fill-remaining-space"></span>
    <button mat-button>Accueil</button>
    <button mat-button (click)="voirTrajets()">Mes trajets</button>
    <button mat-button (click)="voirReservations()">Mes reservations</button>
    <button mat-button>A determiner</button>
    <button mat-button>A determiner</button>
    <button mat-button (click)="logOut()">Logout</button>
  </mat-toolbar>

</div>





<!--Afficher fenetre enregistrement / connexion-->
<app-connect-record *ngIf="corecord" (connectClick)="seConnecter()" 
(recordClick)="sEnregistrer()" (newNavBar)="showTrueCoNavBar()"></app-connect-record>

<!--Voir les trajets de l abonne-->
<app-mestrajets *ngIf="mestrajets"></app-mestrajets>

<!--voir les reservations de l abonne-->
<app-mesreservations *ngIf="mesreservations"></app-mesreservations>






<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>

  </li>
</ul>
<div style="width:20px;height:20px;background-color:green;" 

       *ngIf="isAuth"></div>



       <p style="width:20px;height:20px;background-color:red;" 
       *ngIf="!isAuth">on affichera un message si le login est faux</p>     

<h3>Identifiant</h3>
<input type="text" class="form-control" [(ngModel)]="appareilName">

<h3>Mot de passe</h3>
<input type="text" class="form-control" [(ngModel)]="appareilName">

<button class="btn btn-success" [disabled]="!isAuth" (click)="onAllumer()">Validez</button>

<br/>
<br/>




<h4>Les directives par attribut</h4>
<h3>Mes abonnements</h3>
<ul class="list-group">

<app-abonnement *ngFor="let abonnement of abonnements"

[abonnementName]="abonnement.name"

[abonnementStatus]="abonnement.status"></app-abonnement>


<!--<p>Mis à jour : {{ lastUpdate | async | date: 'yMMMMEEEEd' | uppercase }}</p>-->
<p>{{ lastUpdate | lowercase | date: 'short' }}</p>




</ul>


<button class="btn btn-success" 

    [disabled]="!isAuth" 

    (click)="onAllumer()">Tout allumer</button>

