<button class="btn btn-success" 


    (click)="voirReservations()">Voir mes reservations</button>


    <button class="btn btn-success" 


    (click)="Reserver()">Reserver</button><br><br>
         
<div *ngIf="lookReserv" >
    <table cellspacing="10">
      <tr>
             <td>Aire</td>
             <td>Restaurants</td>
             <td>Heure Arrive Prévue</td>
             <td>Heure Depart Prévue</td>
      </tr>

     <tr *ngFor="let unereservation of lesreservations">
           <td>{{unereservation.nomAire}}</td>
           <td>{{unereservation.libelle}}</td>
           <td>{{unereservation.dateA}}</td>
           <td>{{unereservation.dateD}}</td>

     </tr>
</table>
</div>

<div *ngIf="!lookReserv"><!--
<form (ngSubmit)="sendDataReserv()">-->
    <select #selectedAire (change)='SelectedAire = selectedAire.value'>
        <option *ngFor="let uneaire of lesaires" [value]="uneaire.libelle">
          {{uneaire.libelle}}
        </option>
     </select>

     <button class="btn btn-success" 


     (click)="getEtablissement()">Valider</button>   
     <br><br>
  <div *ngIf="chooseAire">
     <select #selectedResto (change)='SelectedResto = selectedResto.value'>
        <option *ngFor="let unrestaurant of lesrestaurants" [value]="unrestaurant.libelle">
          {{unrestaurant.libelle}}
        </option>
     </select>
    <br>

     <input [(ngModel)]="SelectedArrive" name="Arrive" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1">
     <owl-date-time #dt1></owl-date-time>

     <input [(ngModel)]="SelectedDepart" name="Depart" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2">
     <owl-date-time #dt2></owl-date-time> 

    </div>
    <br><!--
    <input type="submit" value="Validez" /> -->

    <input type="button" (click)="sendDataReserv()" value="Validez" /><!--
</form>-->
</div>