
<div *ngIf=!fenetre>
<p>
  Connectez vous 
</p><!--
<form #signupForm="ngForm"  (ngSubmit)="sendDataConnect(signupForm)">-->
    <form  (ngSubmit)="sendDataConnect()">
<!--<form action="localhost:3000/connect" method="POST">-->
<tr>Identifiant</tr>
   <td><!--<input type="text" id="login"></td>-->
   <input type="text" name="login"[(ngModel)]="login">
  <tr>Mot de passe</tr> 
<input type="password" name="mdp" [(ngModel)]="mdp">
<br>
<input type="submit" value="Validez" /> 

</form>

  <p *ngIf="messageco">Il semblerait que votre saisie ne corresponde avec aucun compte...reessayez
    si cette erreur persiste contactez l'administrateur
  </p>

</div>





  <div *ngIf=fenetre>
<p>
    Creer un compte
  </p>
  
<form (ngSubmit)="createAccount()">
  <tr>Nom</tr>
     <td><input type="text" name="nom"[(ngModel)]="nom"></td>
  
    <tr>Prenom</tr> 
  <input type="text" name="prenom" [(ngModel)]="prenom">

  <tr>ville</tr> 
  <input type="text" name="ville" [(ngModel)]="ville">

  <tr>Code Postal</tr> 
  <input type="text" name="cp" [(ngModel)]="cp">

  <tr>Voie</tr> 
  <input type="text" name="voie" [(ngModel)]="voie">

  <tr>Numero de la voie</tr> 
  <input type="text" name="numVoie" [(ngModel)]="numVoie">

  <tr>Login</tr> 
  <input type="text" name="login" [(ngModel)]="login">

  <tr>Mdp</tr> 
  <input type="password" name="mdp" [(ngModel)]="mdp">

  <tr>Abonnment choisit</tr> 
  <select #selectedAbonnement (change)='SelectedAbonnement = selectedAbonnement.value'>
    <option *ngFor="let unabonnement of lesabonnements" [value]="unabonnement.nom">
      {{unabonnement.nom}}
    </option>
 </select>
 
  <br>
  <input type="submit" value="Validez" /> 

  </form>
  </div>

  
  



<button class="btn btn-success" 


    (click)="onConnecter()">se connecter</button>


<button class="btn btn-success" 


    (click)="onEnregistrer()">s'enregistrer</button>    