
<div *ngIf=isco>
<p>
  Connectez vous 
</p>
<form method="POST"   (ngSubmit)="sendDataConnect(mdp.value,login.value)">
<!--<form action="localhost:3000/connect" method="POST">-->
<tr>Identifiant</tr>
   <td><input type="text" id="login"></td>

  <tr>Mot de passe</tr> 
<input type="password" id="mdp">
<br>
<input type="submit" value="Validez" /> 

</form>

</div>


  <div *ngIf=!isco>
<p>
    Enregistrez-vous
  </p>
  
<form action="localhost:3000/newAccount">
  <tr>renseignement1</tr>
     <td><input type="text" id="identifiant"></td>
  
    <tr>renseignement2</tr> 
  <input type="password" id="pwd">
  </form>
  </div>

  
  



<button class="btn btn-success" 


    (click)="onConnecter()">se connecter</button>


<button class="btn btn-success" 


    (click)="onEnregistrer()">s'enregistrer</button>    