
<div *ngIf=isco>
<p>
  Connectez vous 
</p>
<form #userForm="ngForm"   (ngSubmit)="onSave(userForm.value)">
<tr>Identifiant</tr>
   <td><input type="text" id="identifiant"></td>

  <tr>Mot de passe</tr> 
<input type="password" id="pwd">
   
<input type="submit" value="{{valbutton}}" /> 

</form>

</div>


  <div *ngIf=!isco>
<p>
    Enregistrez-vous
  </p>
  
<form>
  <tr>renseignement1</tr>
     <td><input type="text" id="identifiant"></td>
  
    <tr>renseignement2</tr> 
  <input type="password" id="pwd">
  </form>
  </div>

  
  



<button class="btn btn-success" 


    (click)="onConnecter()">se connecter</button>


<button class="btn btn-success" 


    (click)="onEnregistrer()">s'enregistrer</button>    