<li class="list-group-item">

<!--can't bind abonnementName and abonnementStatus  ts file-->

 <!-- <h4 *ngFor="let abonnement of abonnements"
  [abonnementName]="abonnement.name"    
  [abonnementStatus]="abonnement.status"></h4>-->



  <h4>Abonnement {{abonnementName}}: status : {{abonnementStatus}} </h4>
  <button class="btn btn-success" 

    [disabled]="!isAuth" 

    (click)="onAllumer()">Tout allumer</button>



 <!-- <h4>Abonnement 2 : ce qui est inclût : {{premium}} </h4>
  <button class="btn btn-success" 

    [disabled]="!isAuth" 

    (click)="onAllumer()">Tout allumer</button>

    <input type="text" class="form-control" [(ngModel)]="appareilName">



  <h4>Abonnement 3 : ce qui est inclût : {{premiumplus}}</h4>
  <button class="btn btn-success" 

    [disabled]="!isAuth" 

    (click)="onAllumer()">Tout allumer</button>-->

</li>

